<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>

        <!-- application中已经添加的，这儿可以不用添加 -->
        <package name="com.sdhy.mapper.UserCargoMapper"/>
    </typeAliases>
</configuration>